.footer{
    background-color:#f2f3f5 !important;
    color: black !important;
}
.footer a{
    /* border-radius: 50%; */
   margin-right: 10px;
   margin-left: 10px;
   padding-top: 10px;
    overflow: hidden;
   background: -webkit-linear-gradient(#990000, #ff7878);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer .btn{
 background-color: #bdc7c7;
}

@media (max-width:450px) {
    .btn {
        width: auto !important;
        font-size: 14px;
        padding-bottom: 5px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    }
    
}